@CHARSET "ISO-8859-1";
.button-primary
{
	color:white;
	background-color:red;
	border-color:transparent;
	margin:0px;
    border-style: solid;
    padding: 12px;
	cursor:pointer;
    border-width: 1px;
	transition: border-color 0.2s, color 0.2s, background-color 0.2s;
	font-size:15px;
}
.button-primary:hover
{
	border-color: lightgray;
	background-color:white;
	color:black;	
}
.button-primary:focus
{
	border-color: lightgray;
	background-color:white;
	color:black;
	outline: none;
}
.button-primary:active
{
	color:red;
	border-color: red;
	box-shadow: none;
	outline: none;
}