@CHARSET "ISO-8859-1";
.table
{
	border-collapse:collapse;
	width:100%;
}

.table > tbody > tr
{
	display:table-row;
	margin:10px;
	transition: outline-color 0.2s;
	outline-color:transparent;
	
}

.table > tbody > tr:hover
{
	outline-style: solid;
	outline-color: gray;
	outline-width: 2px;
	outline-offset: -1px;
}
.table > tbody > tr > *
{
	padding:10px 5px 10px 5px;
	border-style: solid;
	border-color:#ccc;
	border-width:1px;
	border-collapse:collapse;
	text-align:center;
}
.table > tbody > tr > td
{
	
	color: black;
}
.table > tbody > tr > td:nth-child(even)
{
	/*background-color:lightgray*/
}
.table > tbody > tr > th
{
    background-color: whitesmoke;
}
.table > tbody > tr > th:nth-child(even)
{
	/*background-color:lightgray;*/
}